@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using ToksozBysNew.Web.Pages.CompanyCalendars
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.CompanyCalendars;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CompanyCalendars/EditModal" autocomplete="off">
    <abp-modal id="CompanyCalendarEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="CompanyCalendar.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="CompanyCalendar.CompanyCalendarDate" value="@(Model.CompanyCalendar.CompanyCalendarDate.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-input asp-for="CompanyCalendar.IsWeekend" />

            <abp-input asp-for="CompanyCalendar.IsHoliday" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>