@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.Web.Pages.Accounts
@using ToksozBysNew.Accounts;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Accounts/CreateModal" autocomplete="off">
    <abp-modal id="AccountCreateModal">
        <abp-modal-header title="@L["NewAccount"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Account.AccountCode" />

            <abp-input asp-for="Account.AccountName" />

            <abp-input asp-for="Account.Description" />

            <abp-input asp-for="Account.IsActive" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>