@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using ToksozBysNew.Web.Pages.AccountGroups
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.AccountGroups;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/AccountGroups/EditModal" autocomplete="off">
    <abp-modal id="AccountGroupEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="AccountGroup.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="AccountGroup.AccountGroupName" />

            <abp-input asp-for="AccountGroup.IsUnitEnterable" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>