@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using ToksozBysNew.Web.Pages.Invoices
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.Invoices;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Invoices/EditModal" autocomplete="off">
    <abp-modal id="InvoiceEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Invoice.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Invoice.InvoiceSerialNo" />

            <abp-input asp-for="Invoice.InvoiceDate" value="@(Model.Invoice.InvoiceDate.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-input asp-for="Invoice.Notes" />

            <abp-input asp-for="Invoice.PaymentDate" value="@(Model.Invoice.PaymentDate.ToString("yyyy-MM-dd"))" type="date"/>

            <abp-input asp-for="Invoice.Amount" type=number min=0 step=0,01 />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>