@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ToksozBysNew.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using ToksozBysNew.Web.Pages.CustomerTitles
@using ToksozBysNew.CustomerTitles;
@using System.Globalization
@inject IHtmlLocalizer<ToksozBysNewResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CustomerTitles/CreateModal" autocomplete="off">
    <abp-modal id="CustomerTitleCreateModal">
        <abp-modal-header title="@L["NewCustomerTitle"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="CustomerTitle.TitleName" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>